@font-face {
	font-family: Furore;
	src: url("../fonts/Furore.otf") format("opentype");
}

@font-face {
  font-family: Forque;
	font-weight: bold;
  src: url("../fonts/Forque.ttf") format("truetype");
}

.logotype {
  font-family: Furore;
  color: #DD4814;
  font-size: 30px;
}

.logotype > h1 {
  font-size: 72px;
}
