<p><a href="http://timelabtechnologies.com/ideas.html">Back to our Ideas Page</a></p>
<h1 id="project-an-integrated-graphical-environment-for-visual-inspection-and-filtering-of-time-series-for-astronomy">Project: An integrated graphical environment for visual inspection and filtering of time-series for astronomy</h1>
<ul>
<li>Mentor: Paul Balm (Timelab, Spain) - gsoc@timelabtechnologies.com</li>
<li>Back-up Mentor: Simone Migliari (ESA, Spain)</li>
<li>Required Skills: Python, JavaScript</li>
</ul>
<p>We have already provided a brief introduction to the science motivating our projects on our <a href="http://timelabtechnologies.com/ideas.html">Ideas Page</a>. For those interested, we have also prepared a <a href="http://timelabtechnologies.com/gsoc_sci_motivation.html">more detailed scientific motivation</a>.</p>
<h2 id="the-technical-problems-that-this-project-wants-to-solve">The technical problems that this project wants to solve</h2>
<p>This software is initially foreseen to be used to study data from space-based observatories, such as <a href="http://www.cosmos.esa.int/web/xmm-newton">XMM-Newton</a>, <a href="http://www.cosmos.esa.int/web/integral">INTEGRAL</a>, <a href="http://chandra.si.edu/">Chandra</a> or the new Indian satellite <a href="http://www.isro.gov.in/Spacecraft/astrosat">Astrosat</a>, but it is entirely feasible that future studies will be interested in data obtained with ground-based telescopes, or from other sources. The data invite to (brightness) variability studies in very different domains: Some studies will involve variations on the order of milliseconds, while others might study phenomena with variations on the order of days or even years. Timing resolution of different observatories varies greatly. The software must be able to handle these very different scenarios.</p>
<p>Scientific data analysis is a creative process involving many different activities. There are activities such as data acquisition, processing by algorithms, and visualization, but one that we believe is especially under-served by existing tools, is data exploration. Data exploration requires a software tool that is easy to handle and allows one to easily run and rerun different analyses, with the ability to quickly and visually evaluate the result.</p>
<p>Another crucial element in the scientific process is collaboration between research groups. These collaborations are international and diverse. When each group uses its own proprietary software framework for analyses, the collaboration beyond comparing publishable results quickly becomes very costly.</p>
<h2 id="the-project-requirements">The Project Requirements</h2>
<h3 id="the-software-will-have-to-suit-a-broad-range-of-problem-domains-within-astronomy">The software will have to suit a broad range of problem domains within astronomy</h3>
<p>We plan to achieve broad applicability of the software by making feedback from the active scientific community and the implementation of this feedback a key activity within the project.</p>
<p>The software shall be made flexible and adaptable, using a programming language that is both popular and suitable for the computational algorithmic tasks. This the reason for choosing Python as the language for implementing the algorithms, which shall be drawn largely from the project &quot;Library of time series method&quot; listed below.</p>
<h3 id="the-software-must-permit-data-exploration">The software must permit data exploration</h3>
<p>Existing software tools for analysis of variable events fall short in the area of data exploration, generally because they lack a graphical user interface.</p>
<p>One very important aspects that the proposed GUI shall contribute is a modern user experience. Designing such a user experience is a highly iterative process, involving constant feedback from a broad, diverse group of investigators. We have already assembled a group of experienced scientists and many contacts within <a href="http://www.esa.int">ESA</a>, that is eager to participate in this process. It is a win-win situation for scientists to be able to steer a development in their own field through their feedback, and for us, their input is uniquely valuable in ensuring that we meet the needs of the scientific community and that the project gains traction and usage.</p>
<h3 id="access-to-existing-software-is-limited">Access to existing software is limited</h3>
<p>Access to existing analysis tools is limited for a variety of political, legal and technical reasons. We will implement the GUI proposed here as an open source software project, that invites improvements and development from anyone that wishes to perform research in the field of analysis of a variable events. There shall be no limits to the access to the software, and all documentation and software shall be available freely. The software will be released the software under an open source license, most likely <a href="https://opensource.org/licenses/apache2.0.php">Apache v2 License</a> or the <a href="https://opensource.org/licenses/BSD-3-Clause">BSD New License</a>, allowing the highest degree of flexibility to benefit from the software.</p>
<h3 id="existing-software-tools-have-outdated-user-interfaces-and-work-flows">Existing software tools have outdated user interfaces and work-flows</h3>
<p>Another concern with existing software packages is that these tools have grown slowly, often over decades, and that they were built by scientists, not software engineers. This leads to software that is difficult to modify for anyone, let alone someone outside of the initial research group. It also tends to lead to software with a less than intuitive user interface. Very few of the software tools have a graphical interface, which is important for exploration. We will implement a tool with the latest advances in graphical interfaces for data visualization. Data visualization, with the advent of the data science industry, has become a burgeoning field with many open source tools that provide great improvements over older technologies. It is not uncommon for open source tools that they cannot be used in commercial (closed source) software. Our proposal to build an open source software product allows us to take full benefit of these tools, and future advances in them.</p>
<h2 id="project-execution-and-deliverables">Project Execution and Deliverables</h2>
<p>This project should be implemented as a cross-platform desktop application (Windows, OS X, Linux).</p>
<p>The deliverable functionality shall be defined as a function of the student's experience, and the requirements that we discover as the first prototypes are implemented. At this point we foresee the following functionality:</p>
<ul>
<li>Load standardized data from scientific satellites. Raw data from satellites often requires some preprocessing to bring it into a standard shape of a time-series. This preprocessing falls outside the scope of this project (if you're interested in implementing this functionality, please see our project &quot;Library of time-series methods&quot;). The standardized data will have arrival times of photons and the photon frequency (i.e. the frequency of the light), or, equivalently, the energy of the photon.</li>
<li>build spectra from this data and visualize the spectra, i.e. plot the spectra. These plots shall be interactive and permit hovering over data point, selection of regions for zooming, etc.</li>
<li><a href="https://en.wikipedia.org/wiki/Fast_Fourier_transform">Fast Fourier Transform</a> the data to visualize the varying intensity in different energy bands See the description of our &quot;Library of time-series methods&quot; for a list of algorithms that we plan to implement under that project. Here we are concerned with the work-flow from the GUI: How do we provide the input to these algorithms? How do we retrieve the output and present it graphically? This is a typical problem that is best solved through rapid prototyping and iterating with users. We have a very interested scientific community that will help us here.</li>
</ul>
<p>Depending on the obstacles encountered, we can finish here or proceed to add:</p>
<ul>
<li>filtering on energy,</li>
<li>selection of time ranges,</li>
<li>the definition of format to output intermediate datasets (such as filtered event list), or preferably the selection of existing format(s) to do the same</li>
<li>output of different filtered datasets in different formats</li>
</ul>
<p>To get a better idea, please have a look at this <a href="http://timelabtechnologies.com/res/PowerSpectra_Examples.pdf">diagrams of graphics that the GUI is expected to provide</a>.</p>
<h2 id="current-status-and-existing-codebase">Current status and existing codebase</h2>
<p>The current status of this project is that we are selecting the technology to implement the GUI. It will be built on top of the Library for time-series methods, for which the existing codebases are the <a href="https://github.com/matteobachetti/MaLTPyNT">MaLTPyNT</a> and <a href="https://github.com/StingraySoftware/stingray">Stingray</a> GitHub repos.</p>
<p>The initial work will be to come up with several ideas on how this project should be implemented, build a minimally functional prototype (a few buttons and a plot, little more), to get a feeling for each choice of technologies, frameworks, or packages. We will be glad to collaborate to have prospective students provide ideas and prototypes during this phase.</p>
