<p>This is our Ideas Page for Google Summer of Code 2016. It lists the projects that we have proposed during the 2016 application period. We are proud that <strong>all three projects we proposed have been accepted</strong>:</p>
<ul>
<li>An integrated graphical environment for visual inspection and filtering of time-series for astronomy</li>
<li>Library of time series methods</li>
<li>A Time Series Simulator</li>
</ul>
<p>By now, Google Summer of Code 2016 has concluded, but the projects remain active and looking for help.</p>
<h1 id="introduction">Introduction</h1>
<h2 id="who-what-why">Who, what, why</h2>
<p>We are a team of astrophysicists and software developers working together to build a variability analysis software to study black holes and fundamental physics under extreme conditions. The project we are proposing will help the professional astronomical community to make significant advancements in the study of relativistic stars. Coding with us, you will gain a fulfilling experience with international professional developers and scientists and will be part of the team heading to explore the most exciting objects in nature: black holes.</p>
<h2 id="the-context-black-hole-science">The context: Black hole science</h2>
<p>What we do is studying how matter behaves under strong gravity, near black holes where relativistic corrections to Newtonian physical laws - as predicted by Einstein - are important. The most important window to observe the regions near black holes is X-rays. X-ray radiation is produced when matter heats up while falling towards the event horizon. Since X-rays are shielded by the Earth atmosphere, our research uses data from satellites launched by NASA, ESA (European Space Agency) and JAXA (the Japanese space agency), among others. By studying the fast-variability of this X-ray radiation (variability in the range of second to fraction-of-millisecond), we can have tremendous insights on the geometry and nature of the phenomena that occur in the proximity of the black hole, therefore constraining the properties of the space-time in extreme-field gravity.</p>
<p>The use by the astrophysical community of novel high-frequency time-series analysis techniques, more recently brought outstanding advancements in the field. New ideas about how to analyze astronomy data has initiated what we call “the spectral-timing revolution” leading to a hotbed of new developments.</p>
<h2 id="problem-software-tools">Problem: software tools</h2>
<p>One of the obstacles of the several fast-moving research groups in this field is the lack of shared, publicly available tools for analysis. Many individual tools and libraries exist, and some are even publicly available, but what is lacking is a coherent set for a complete analysis. Also, the lack of any GUI makes the tools (more) difficult to use.</p>
<p><em>This situation hinders collaboration and mobility of researchers between groups. It is also a barrier for other researchers or students to join this field that is now living an exciting period of new discoveries.</em></p>
<p>In this project, we seek to implement new timing techniques in such a way that scientists with or without good knowledge of Python can exploit the full power of X-ray data of black holes:</p>
<ul>
<li>a well-documented API with classes and methods that can be used and modified to improve the analysis pipeline; command-line scripts to launch the analysis in batch mode;</li>
<li>a GUI for quick-look analysis and interactive adjustments.</li>
</ul>
<p>Additionally, we want to develop a simulation platform to be used to test the performance of the above package and validate the results of the analysis.</p>
<p>All tools will have to be covered by unit tests and continuous integration will be used to monitor the integrity of the code.</p>
<p>The GUI project is <a href="https://github.com/StingraySoftware/dave">hosted on Github</a>. Issues are kept in <a href="https://timelab.atlassian.net/">JIRA</a> which we hope to be able to make publicly accessible soon, pending the license grant from Atlassian.</p>
<h2 id="existing-software">Existing Software</h2>
<p>Existing tools that we will use to build our product are <a href="http://www.astropy.org/">Astropy</a>, <a href="http://cxc.harvard.edu/sherpa/">Sherpa</a>, <a href="http://www.scipy.org/">SciPy</a> and <a href="https://github.com/brandonckelly/carma_pack">Carma</a>. Our own projects for more specialized Python tools are called <a href="https://github.com/StingraySoftware/stingray/">Stingray</a> and <a href="https://bitbucket.org/mbachett/maltpynt">MaLTPyNT</a>.</p>
<p>On one hand, the fact that there are many tools already available, highlights the problem that many research groups tend to use their own tools, which hampers collaboration between the groups. The projects presented on this page are an opportunity to provide a single, well-tested and well-documented package, that all groups can use together to collaborate.</p>
<p>On the other hand, the existing tools provide an excellent source of information about which functionalities are needed and how scientists want to use them.</p>
<h1 id="application-procedure">Application Procedure</h1>
<ol style="list-style-type: decimal">
<li><p>Please have a look at the general <a href="https://summerofcode.withgoogle.com">GSoC website for procedures</a></p></li>
<li><p>Contact us (if you haven't done so already) and let us know what you're interested in and why</p></li>
<li><p>Take a look at the existing software in <a href="https://github.com/StingraySoftware/stingray">Stingray</a> and <a href="https://bitbucket.org/mbachett/maltpynt">MaLTPyNT</a></p></li>
<li><p>Start contributing! Have a look at the <a href="https://github.com/StingraySoftware/stingray/issues">open issues in Stingray</a> and see whether something catches your eye. If you're new to open source or need help identifying something, let us know and we'll help!</p></li>
<li><p>Start writing your application! Some guidance can be found in the <a href="http://write.flossmanuals.net/gsocstudentguide/what-is-google-summer-of-code/">GSoC student manual</a>. Please follow the <a href="https://wiki.python.org/moin/SummerOfCode/ApplicationTemplate2015">template of the Python Software Foundation</a> for your application. If you'd like some feedback, we recommend you open a Google Doc and invite the primary/secondary mentor for the project you're interested in to comment.</p></li>
<li><p>Submit your application on the <a href="https://summerofcode.withgoogle.com">GSoC website</a> Once you've done so, let us know so we know to take a look at it!</p></li>
</ol>
<p>That's it! Good luck, and please do not hesitate to contact us should you have questions.</p>
<h1 id="background-information">Background Information</h1>
<p>We've collected some background information on relevant astronomy you might not know. Not all of this is required reading, of course, but it is meant to help you understand the relevant astronomical concepts you might come across when looking at the code base or doing the background reading for your proposal.</p>
<ul>
<li>http://www.astronomynotes.com (especially Chapter 13)</li>
<li>https://www.dmns.org/media/367261/tr2005-10.pdf (Chapter 5, Appendix A and C)</li>
<li>http://www.phy.olemiss.edu/~luca/astr/resources.html —&gt; There are a lot of short descriptions here that might be useful, especially anything in &quot;Introductory topics” and “Stellar Systems”</li>
<li>http://ocw.mit.edu/courses/physics/8-224-exploring-black-holes-general-relativity-astrophysics-spring-2003/video-lectures (especially video 8: X-Ray Binaries and the Search for Black Holes is highly relevant)</li>
</ul>
<p>Alternatively, we would like to suggest that you look out for an introductory astronomy textbook in your local university library. There is a myriad of good ones out there, and we don't know which one your university is likely to have, so we won't suggest a specific one here. Useful terms to look up are</p>
<ul>
<li>stellar evolution (especially the final stages)</li>
<li>black holes</li>
<li>neutron stars</li>
<li>X-ray binaries</li>
<li>magnitude and flux</li>
<li>variability</li>
</ul>
<p>Please don't worry too much about physics equations. The idea is to give you an idea of the broad concepts and terminology so that you know what we talk about; you definitely don't need detailed knowledge of the physics for any of the projects we're offering!</p>
<h1 id="project-an-integrated-graphical-environment-for-visual-inspection-and-filtering-of-time-series-for-astronomy">Project: An integrated graphical environment for visual inspection and filtering of time-series for astronomy</h1>
<ul>
<li>Mentor: Paul Balm (Timelab, Spain)</li>
<li>Back-up Mentor: Simone Migliari (ESA, Spain)</li>
<li>Required Skills: Python, JavaScript</li>
</ul>
<h2 id="overview">Overview</h2>
<p>The goal of the project is to integrate existing modules and/or features from Astropy, Stingray and/or MaltPyNT, into a graphical tool that allows to easily:</p>
<ul>
<li>load standardized data files from scientific satellites</li>
<li>build spectra from this data and visualize the spectra</li>
<li><a href="https://en.wikipedia.org/wiki/Fast_Fourier_transform">Fast Fourier Transform</a> the data to visualize the varying intensity in different energy bands</li>
<li>visualize the variability spectrum</li>
</ul>
<p>Depending on the obstacles encountered, we can finish here or proceed to add:</p>
<ul>
<li>filtering on energy,</li>
<li>selection of time ranges,</li>
<li>the definition of format to output intermediate datasets (such as filtered event list), or preferably the selection of existing format(s) to do the same</li>
<li>output of different filtered datasets in different formats</li>
</ul>
<p>Alternatively, we can consider to develop the preprocessing required to produce standardized data from the data of different satellites. Each satellite has its own quirks that need to be removed. We don't see this as part of our project in principle, but it may turn out to be important to foster adoption.</p>
<p>A final stage, which is probably beyond what's possible in 3 months of work, might be to incorporate <a href="http://cxc.harvard.edu/sherpa/">Sherpa</a> and to fit different models to the data.</p>
<p><a href="http://timelabtechnologies.com/gsoc_gui.html">See our detailed project page</a></p>
<h1 id="project-library-of-time-series-methods">Project: Library of time series methods</h1>
<ul>
<li>Mentors: Daniela Huppenkothen (NYU, USA), Matteo Bachetti (Cagliari Astronomical Observatory, Italy), Simone Migliari (ESA, Spain)</li>
<li>Required Skills: Python</li>
</ul>
<p>This project aims to build a single, comprehensive library for time series analysis, with particular focus on data from X-ray satellites such as the Chandra X-ray Observatory, the Rossi X-ray Timing Explorer (RXTE), the NuSTAR X-ray Observatory, XMM-Newton, Hitomi as well as future missions such as NICER on board the International Space Station and the European X-ray mission Athena.</p>
<p>All of these telescopes allow for monitoring of X-ray sources such as black hole binary systems, Active Galactic Nuclei and accreting neutron stars, in some cases with an extremely high time resolution in the order of <em>micro</em>seconds. Because many of these sources are highly variable in brightness over time, studying how they vary is one of the prime methods for gaining an understanding of the underlying physical processes that make the light we observe vary, among them general relativity in strong gravity, dense matter physics, plasma physics, particle acceleration and radiation physics.</p>
<p>Time series analysis at these wavelengths proceeds predominantly via Fourier analysis. Many methods are derived from calculating the power spectrum and derived quantities such as auto-correlation and cross-correlation functions, time lags, covariance and coherence spectra, bispectra and bicoherence.</p>
<p>There is currently no commonly used software tool within the astronomical community that is capable of all of the required standard tasks astronomers use in their research. Existing software tools are either vastly outdated, untested and undocumented, or are held private in small research groups, making it difficult to reproduce research in publications. This project aims to change that. The library being built in this project is founded on the idea of well-tested, well-documented open-source code based on a common API. This has several advantages:</p>
<ul>
<li>Researchers will be able to trust the results obtained with this library over untested routines they might have developed themselves or obtained as legacy code from other researchers in their group</li>
<li>Because most data in X-ray astronomy is open source, this library will offer an important step toward reproducibility of results in publications, since they may now be reproduced both with the same data and the same software</li>
<li>A common API and detailed documentation will make it relatively straightforward for researchers from outside the field of X-ray timing as well as students newly coming into the field to start with their own projects</li>
<li>As new methods are developed, it will be simple to extend the existing code base, allowing researchers developing methodology to reach a wider audience than otherwise</li>
<li>Base classes will be defined in such a way that they are easily extensible to non-standard research problems, e.g. cases where the data is affected by instrumental effects or data from other wavelengths</li>
<li>The library will provide crucial infrastructure to the Graphical User Interface (GUI) built at the ESA Science Centre. This user interface is poised to become a major astronomical research tool, allowing for easy exploratory data analysis that will be essential as new instruments such as Hitomi, NICER, AstroSAT and Athena provide us with new and exciting data sets never observed before.</li>
</ul>
<p>While this project is still relatively in its infancy, it has a considerable code base to draw from. One is <a href="https://bitbucket.org/mbachett/maltpynt">MaLTPyNT</a>, an in-development Astropy-affiliated package, another is <a href="https://github.com/StingraySoftware/stingray/">Stingray</a>, another open source project hosted on Github. These tools have the potential to become the standard analysis tools for the astronomical timing community. To realize this potential they will have to be integrated and expanded.</p>
<p>Additionally, the methods themselves are relatively well known and understood, meaning that implementation should be relatively straightforward in most cases.</p>
<p>Algorithms to be implemented in this project are:</p>
<h3 id="variance-energy-spectra">Variance-Energy Spectra</h3>
<p>Used to compute the fractional rms amplitude (square root of the variance in a certain time-frequency range) as a function of photon energy (= wavelength). This will require computing power spectra in several (user-defined) energy bands, computing the fractional rms amplitude in a (user-defined) frequency range and producing the relevant spectra as output.</p>
<p>http://adsabs.harvard.edu/abs/2009MNRAS.397..666W</p>
<h3 id="rms-flux-relation">RMS-Flux Relation</h3>
<p>Used to compute the fractional rms amplitude (square root of the variance in a certain time-frequency range) as a function of local mean brightness of the source. This requires computing power spectra in a (user-defined) energy band for a number of time series, computing the fractional rms amplitude in a user-defined frequency range and comparing to the total brightness in each time series. Potentially it also includes binning to increase signal-to-noise of the measurements. Relevant publication: http://adsabs.harvard.edu/abs/2001MNRAS.323L..26U</p>
<h3 id="coherence">Coherence</h3>
<p>The coherence function, is a Fourier-frequencyÈ dependent measure of the degree of linear correlation between two concurrent time series. SpeciÐcally, it gives the fraction of the mean-squared variability at f of one time series that can be attributed to, or equivalently predicted from, the other.</p>
<p>Implementation will require the implementation of the Coherence itself, correct normalization and usage of user-specified energy ranges, as well as implementation of uncertainties.</p>
<p>http://adsabs.harvard.edu/abs/1999ApJ...510..874N</p>
<h3 id="time-lags">Time Lags</h3>
<p>The Fourier time delay, or lag, is also computed for two concurrent and correlated time series. Like the coherence, it is related to the cross correlation, and is a Fourier-frequency dependent measure of the time delay between the time series.</p>
<p>Implementation is required as a function of both photon energy as well as Fourier frequency.</p>
<p>http://adsabs.harvard.edu/abs/1999ApJ...510..874N</p>
<h3 id="covariance-spectra">Covariance Spectra</h3>
<p>Requires computing the appropriately normalized cross-correlation between a certain energy range and a broad reference energy range, integrating over the cross-correlation and normalizing the result correctly.</p>
<p>http://adsabs.harvard.edu/abs/2009MNRAS.397..666W</p>
<h3 id="bispectrum-bicoherence-and-biphase">Bispectrum, Bicoherence and Biphase</h3>
<p>Polyspectra are higher order time-series analysis techniques anal- ogous to the classical Fourier spectrum which take into account more than one Fourier frequency (Tukey 1984). The bispectrum is the first of a series of polyspectra which can be used to under- stand phase correlations in single time series at two independent Fourier frequencies.</p>
<p>http://adsabs.harvard.edu/abs/2014arXiv1409.1223S And references in this paper.</p>
<h3 id="dynamical-power-spectra">Dynamical Power Spectra</h3>
<p>Also called &quot;spectrogram&quot; in other fields. Divides a time series into segments and computes power spectra for each of them. The result will be a time-frequency representation of the data.</p>
<h3 id="auto-correlation-cross-correlation-and-structure-functions">Auto-Correlation, Cross-Correlation and Structure Functions</h3>
<p>While the basic algorithms used for these calculations are implemented in <code>numpy</code> and <code>scipy</code> already, it will take some work and some care to make sure they are normalized and presented in such a way that will make them useful to astronomers.</p>
<p>These methods will need to be implemented in a shared API, tested and documented as part of the project. There is an interested communities of both algorithm experts as well as users willing to validate these tools as part of their research.</p>
<h2 id="deliverables">Deliverables</h2>
<p>Deliverables for this project will be</p>
<ul>
<li>a working implementation of these algorithms (or a subset thereof)</li>
<li>working unit tests for each piece of code<br /></li>
<li>documentation for each class, method and function implemented</li>
<li>potentially a suite of scripts outlining workflows useful to scientists in practice</li>
</ul>
<p>The mentors will aid the student with the astronomy-specific aspects of the project, especially in understanding the algorithms in the context of astronomical data as well as the astronomy-specific parts of the required documentation.</p>
<p>We have an interested community of users willing to validate these tools as part of their research.</p>
<h1 id="project-a-time-series-simulator">Project: A Time Series Simulator</h1>
<ul>
<li>Mentor: Matteo Bachetti (Cagliari Astronomical Observatory, Italy)</li>
<li>Back-up Mentor: Daniela Huppenkothen (NYU, USA)</li>
<li>Required Skills: Python</li>
</ul>
<p>Many time series methods typically used in X-ray astronomy make accurate uncertainty estimation hard, but understanding the uncertainty of derived results is crucial for interpreting these results in the context of physical models. In many cases, the only way to estimate errors is by simulating time series and spectral data. This project aims to define and implement a basic framework for doing these simulations. This simulation framework is also useful to test the validity of the results of the time series methods defined above.</p>
<p>The time series products we want to obtain are in the form of event lists, similar to those returned by the instruments onboard X-ray and Gamma-ray satellites.</p>
<p>So, in the end, what the simulator will produce is a list of times corresponding to the arrival time of X-rays on the detector.</p>
<p>If you have a constant flux, you will have times that can be simulated with a simple (in Python)</p>
<pre><code>    times = np.random.uniform(t0, tmax, 10000)
    times.sort()</code></pre>
<p>Things get complicated because you have variability. So, you need to first simulate a continuous “shape” of the variability, then transform this shape into a number of photons, for example with the <a href="https://en.wikipedia.org/wiki/Rejection_sampling">Acceptance-rejection method</a>.</p>
<h2 id="x-ray-light-curve-simulation-with-a-given-variability.">X-ray light curve simulation with a given variability.</h2>
<p>A widely used method for the simulation of light curves with a given variability distribution is described in the paper by <a href="http://biomet.oxfordjournals.org/cgi/doi/10.1093/biomet/74.1.95">Davies &amp; Harte (1987), <em>Biometrika</em> <strong>74</strong>, 95</a>, introduced to the Astronomy community by <a href="http://adsabs.harvard.edu/abs/1995A%26A...300..707T">Timmer &amp; Koenig (1995), <em>A&amp;A</em> <strong>300</strong>, 707</a>.</p>
<p>This method is quite powerful when simulating light curves with a given power spectral shape, but it has the following pitfalls:</p>
<ul>
<li><p><a href="https://bitbucket.org/mbachett/maltpynt">MaLTPyNT</a> has a working mechanism called <code>MPfake</code> to simulate event lists from an input light curve, using the acceptance-rejection method (see <a href="http://adsabs.harvard.edu/abs/2015ApJ...800..109B">Bachetti et al. 2015, <em>ApJ</em> <strong>800</strong>, 109</a>).</p></li>
<li><p>[More advanced] The data do have a given power spectral density. However, the power spectrum does not tell everything that is happening in the source. Completely different phenomena can have exactly the same power spectrum. What we need is a mechanism that also produces lightcurves with the correct underlying phenomenon!</p></li>
<li><p>[Our goal] We are interested in simulating several light curves (<em>channels</em>) that might have similar power spectra but not equal, with some variability components that are correlated (not necessarily <em>simultaneous</em>) but mixing up differently in different channels. The typical application for this behavior, in our case, is the emission of black holes at different energies: all variability components are emitted with a different energy spectrum (e.g. an oscillation might be very strong at low energies and weak at high energy, another could have the opposite behavior), so every energy channel will have a different mixture of the different components. Plus, the same oscillation might propagate and appear in different energy channels at different times. The way to address this is to use the <em>impulse response</em> of a given model, as described in the review by <a href="http://adsabs.harvard.edu/abs/2014A%26ARv..22...72U">Uttley et al. (2014), <em>A&amp;ARv</em> <strong>22</strong>, 72</a>, section 2.</p></li>
</ul>
<h2 id="deliverables-1">Deliverables</h2>
<p>Deliverables for this project will be</p>
<ul>
<li>a working implementation of the simulator</li>
<li>working unit tests for each piece of code<br /></li>
<li>documentation for each class, method and function implemented</li>
<li>potentially a suite of scripts outlining workflows useful to scientists in practice</li>
</ul>
