@font-face {
	font-family: Furore;
	src: url("../fonts/Furore.otf") format("opentype");
}

@font-face {
  font-family: Forque;
	font-weight: bold;
  src: url("../fonts/Forque.ttf") format("truetype");
}

.navbar {
  border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-header {
  float: left !important;
}

.logotype {
  font-family: Furore;
  color: #DD4814;
  font-size: 30px;
}

.logo {
	height: 40px;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 10%;
}

.nav {
    float: right;
    margin-top: -10px;
}

.nav-item {
	margin-top: 24px;
	margin-right: 24px;
	list-style-type: none;
}

.nav-item a {
	font-family: Furore;
	color: #DD4814;
}

.grad {
    background: #ea6736; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ea6736, #581801); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ea6736, #581801); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ea6736, #581801); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ea6736, #581801); /* Standard syntax */
}

.carousel {
  margin-bottom: 0px !important;
}

.carousel-caption {
  bottom: auto;
	text-align: left;
	left: 10%;
	width: 85%;
}

.carousel-caption h3 {
  font-family: Furore;
	font-size: 22px;
}

.carousel-caption .btn-primary {
  font-family: Furore;
	font-size: 14px;
	width: 70%;
	max-width: 350px;
	margin-top: 15px;
}

.whiteRow {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 90px;
	background-color: white;
}

.daveOnPcsContainer {
	position: absolute;
	right: 5%;
	width: 70%;
	max-width: 550px;
	bottom: 5%;
}

.daveOnPcsContainer img {
	width: 100%;
}

.redRow {
	width: 100%;
  min-height: 60px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#020202+0,666666+52,020202+100 */
	background: #020202; /* Old browsers */
	background: -moz-linear-gradient(left, #020202 0%, #666666 52%, #020202 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #020202 0%,#666666 52%,#020202 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #020202 0%,#666666 52%,#020202 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020202', endColorstr='#020202',GradientType=1 ); /* IE6-9 */
}

.redRow p {
	margin: 0px;
	padding: 10px 10% 15px 10%;
	color: #ff7d1b;
	font-size: 18px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}

.marketing {
  margin-bottom: 40px;
}

@media (min-width: 640px) {

	.col-lg-4 {
		width: 33%;
		float: left;
	}

}
